 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap');
*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
#hero-img{
    background-image: url(chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.avif);
width: 100%;
height: 100vh;
background-position: center;
background-size: cover; 
position: relative;
}
.hero-wrapper{
    color:white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) 
}
.hero-wrapper h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: black;
}
.hero-wrapper p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.hero-wrapper .form-code{
display: block;
width: 100%;
margin-left: 150px;
margin-top: 50px;
}
.hero-wrapper .form-code input{
border-radius: 30px;
height: 50px;
width: 50%;
text-align: center;
outline: none;
border: none ;
}
h2{
    text-transform: capitalize;
}
.hero-wrapper .form-code button{
height: 50px;
width: 200px;
text-align: center;
margin-top: 30px;
margin-left: 80px;
background-color: blanchedalmond;
font-weight: bold;
text-transform: capitalize;
border-radius: 30px;
outline: none;
border: none ;
transition: 0.5s;
}
.hero-wrapper .form-code button:hover{
    background-color: transparent;
    border: 2px solid black;
    }
    .product{
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        margin-top: 50px;
    }
    .product-list{
        float: left;
        width: 33%;
    }
   